@{
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <div class="span12">
        <h1>Home Page</h1>
        @Html.BootstrapButton("id", "text", ButtonType.primary, ButtonSize.@default, false, Icon.icon_asterisk, true)
    </div>
</div>
