@{
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <div class="span12">
        <h1>Home Page</h1>
        <p>The links below point to example pages for the different types of helpers.</p>
        <ul>
            <li>@Html.ActionLink("Icons", "Icons")</li>
            <li>@Html.ActionLink("Buttons", "Buttons")</li>
            <li>@Html.ActionLink("TextBox", "TextBox")</li>
        </ul>
    </div>
</div>
